.card {
  .MuiPaper-root {
    justify-content: space-evenly;
    display: flex;
    align-items: center;

    background: #ffffff;
    padding: 10px !important;
    border-radius: 5px;
    cursor: pointer;

    -webkit-box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);

    .text-card {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
}
